<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">
<head>
    <title>Adyen Drop-in Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="styles/reset.css" th:href="@{/styles/reset.css}" rel="stylesheet"
          type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
          crossorigin="anonymous">

    <script src="https://checkoutshopper-live.adyen.com/checkoutshopper/sdk/4.7.5/adyen.js"
            integrity="sha384-7dMVQuI14voF8Shnau609pwTHSPyTrCRKzjbapEASgWGKMun31jRIDyYBqAKQ3kC"
            crossorigin="anonymous"></script>

    <link rel="stylesheet"
          href="https://checkoutshopper-live.adyen.com/checkoutshopper/sdk/4.7.4/adyen.css"
          integrity="sha384-9+LIlWSGAUQhUPJw1dx4xYnF4Z7wNrR+PqDBpWokR+LuOjpusXig9yZsqMslp3Er"
          crossorigin="anonymous">

</head>
<body>
    <main layout:fragment="content" class="preview-page">
        <div id="clientKey" class="hidden" th:text="${clientKey}"></div>
        <div id="type" class="hidden" th:text="${type}"></div>
        <h2>Checkout Page</h2>
        <div id="dropin-container">
            <div class="payment-container">
                <div id="payment" class="payment"></div>
            </div>
            </div>
            <!-- Adyen Component client code -->
        <script type="text/javascript" src="/adyenImplementation.js"></script>
        </div>
    </main>
</body>
</html>